* {
    font-family: Helvetica, sans-serif;
    font: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

body {
   margin: 0 auto; 
  
}

header {
    min-height: 69px;
    position: fixed;  
    width: 100%;
    opacity: 1;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

.logo {
    display: inline-block;
    padding-top: 1%;
  
}

nav {
    display: inline-block;
    position: absolute;
    margin: auto 0;
    padding-top: 1%;
    height: 50px;
    width: 700px;
}


header ul {
    list-style-type: none;

}

header li {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: underline;
}

#above-the-fold {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
    position: relative;
    top: 69px;
} 

.mission-info {
    margin: 0;
    position: relative;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}

#tea-of-the-month {
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.teas-of-the-month-text {
    text-align: center;
    position: relative;
    width: 100%;
 
}

.specific-teas-of-the-month {
    margin: 5px;
    text-align: center;
}

#tea-of-the-month-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#tea-of-the-month-images img {
    margin: 10px;
    width: 300px;
    height: 200px;
}

#location-information {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}

#location-heading {
    position: relative;
    margin: 20px;
    padding-top: 6%;
    text-align: center;
    background: rgba(0, 151, 19, 0.0) /* without this the background of the div would be black and not the image of the coffee cup*/
}

#locations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(0, 151, 19, 0.0) /* without this the background of the div would be black and not the image of the coffee cup*/
    
}

.location {
    width: 300px;
    height: 350px;
    margin: 15px 40px;
    opacity: 1;
    text-align: center;

}

.location h3 {
    font-size: 1.5rem;
}

.location p {
    font-size: 1.4rem;
}

.location-text {
    position: relative;
    top: 20%;
}

#contact-info {
    height: 200px;
    text-align: center;
}